body{
  background-color: #4888a3;
  position: relative;
  #cont-contenido{
    background-color: #f2ece9;
    overflow-y: scroll;

    #cont-view {
      align-content: center;
      height: calc(100vh - 95px);
      max-height: calc(100vh - 95px);
      overflow-y: scroll;
    }

    #footer, #cont-view:after{
      size: 20px;
      width: 100vw;
      text-align: center;
      border-top: 1px solid black;
    }
  }
}