.cont-view{
  align-items: center;
  max-width: 80vw;
  margin-right: 10vw;
  margin-left: 10vw;
}

.cards-group {
  padding: 20px;
}
.card-container{
  margin: 17px;
}

.location-select{
  margin: 8px;
}

.location-btn{
  margin:0px
}